.navigation {
  padding-top: 43px;
}

.navigation_footer {
  padding-top: 0;
}

.navigation__list {
  display: flex;
  gap: 32px;
}

.navigation__list_footer{
  flex-direction: column;
  gap: 0;
  align-items: start;
  list-style: none;
}

.navigation__link {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.navigation__link_active {
  border-bottom: none;
  list-style: none;
}

.navigation__list-item_active {
  list-style: none;
}