@font-face {
  font-family: Raleway;
  src: url(./Raleway/static/Raleway-Medium.ttf) format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: Raleway;
  src: url(./Raleway/static/Raleway-Regular.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: Raleway;
  src: url(./Raleway/static/Raleway-Bold.ttf)format('truetype');
  font-weight: 700;
}